html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden
}


#split-0 {
  max-height: 100vh;
}


#split-1 {
  resize: both;
  overflow: hidden;
  min-width: 50px;
  min-height: 50px;
}

#viewDiv {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  margin: auto;
}

#viewDiv {
  cursor: move;
}

#mapButtonsDiv {
  padding: 0;
  margin: 0;
  min-height: 5vh;
  width: 100%;
}