.minitable {
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-left: solid 2px;
    border-right: solid 2px;
  }

  .group-header {
    font-weight: bold;
    border-bottom: solid black 1px;
  }

  .attribute-header {
    /*font-weight: bold;*/
    border-bottom: solid black 1px;
  }

  .datacell {
    font-weight: bold;
    border-left: solid black 1px;
    background-color: var(--bs-gray-300);
  }

  .attribute-data:not(:last-child) .datacell {
    border-bottom: solid black 1px;
  }