<div class="card-body">

  <input id="basemap-event" type="checkbox" checked data-toggle="toggle" data-html="true"
    data-onlabel="<i class='fa fa-camera'     aria-hidden='true'></i> Imagery"
    data-offlabel="<i class='fa fa-map-signs' aria-hidden='true'></i> TxDOT" data-onstyle="success"
    data-offstyle="primary">

  <input id="refmrkr-event" type="checkbox" data-toggle="toggle" data-html="true"
    data-onlabel="<i class='fa fa-toggle-off' aria-hidden='true'></i> Ref Mrkr"
    data-offlabel="<i class='fa fa-toggle-on' aria-hidden='true'></i> Ref Mrkr" data-onstyle="info"
    data-offstyle="primary" disabled>

  <input id="controlsec-event" type="checkbox" data-toggle="toggle" data-html="true"
    data-onlabel="<i class='fa fa-toggle-off' aria-hidden='true'></i> Ctrl Sec"
    data-offlabel="<i class='fa fa-toggle-on' aria-hidden='true'></i> Ctrl Sec" data-onstyle="info"
    data-offstyle="primary" disabled>

</div>